.container {
  width: 60%;
  margin: auto;
}

.title {
  color: #0f0;
  text-align: center;
  margin-top: 150px;
}

.subject {
  font-size: 20px;
  margin-top: 25px;
}

.subject-name{
    font-weight: bold;
    text-decoration: underline;
}

.text-italic{
    font-style: italic;
}

.function{
    color: red;
    font-weight: bold;
}

.code{
    background-color: grey;
    padding: 10px 0px 10px 0px;
    font-family: 'Courier New', Courier, monospace;
    color: #0000ff;
}
