@font-face{
    font-family: wedding;
    src: url(fonts/UTM\ Wedding\ K_T.ttf);
}

body{
    background-image: url(images/nen-hoa-hong.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
}


.title{
    margin-top: 50px;
    text-align: center;
    font-family: wedding;
    color: #FFFFFF;
    text-shadow: 2px 2px 5px #FF0099;

}